.cardCustom {
  width: 200px; /* Задайте желаната ширина на картата */
  margin: 10px; /* Разстояние между картите */
}

.cardImage {
  height: 150px; /* Задайте желаната височина на изображението */
  object-fit: cover; /* Уверете се, че изображението се вмества добре */
}

