/* .productDescription {
    padding: 20px;
    text-align: center;
  }
  
  .productDescription h2 {
    margin-bottom: 20px;
  }
  
  .productDescription ul {
    list-style: none;
    padding: 0;
  }
  
  .productDescription li {
    margin-bottom: 15px;
  }
   */

.productDescription {
  padding: 40px 20px;
}
